@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600&display=swap');
:root{
    --clr1: #eeeeee;
    --clr2: #4ecca3;
    --clr3:   #393e46;
    --clr4: #232931; 
    /* --clr1: #fcff82;
    --clr2: #afc5ff;
    --clr3:  #ff9c6d;
    --clr4: #fd5959;  */
    

}
body{
    background-color: var(--clr4);
}
.Alertdiv{
    display: flex;
    width: 100vw;
    height: 5vh;
    visibility: hidden;
    justify-content: center;
        position:fixed;
        top:10vh;
        left:0;
  }
  @media screen and (min-height: 650px) and (min-aspect-ratio: 16/9) {
    .Alertdiv{
        top:15vh;
      }
  }
/* ---> Color-1 
#EDC7B7
#EEE2DC
#BAB2B5
#123C69
#AC3B61
---> COLOR 2
#1b4d89
#f9e45b
#6db784
#fffff
---> clr dark
#2b2b2b
#000000
white
*/
